html, body {
	height:100%;
	width:100%;
	margin:0;
	padding:0;
	border:0;
	font-family:sans-serif;
	background:rgba(212, 209, 194, 0);
	font-size:14px;
	color:#444;
	overflow:hidden;
}

a {
	font-weight:bold;
	color:inherit;
	transition: opacity 200ms, color 200ms;
	color: #5b112c;
}
a:hover {
	color: #8d1b43;
}
a.active {
	color: #ce2763;
}

/* left */
#left {
	height:100%;
	width:30%;
	position:absolute;
	top:0;
	left:0;
}
	#left .img {
		position:absolute;
		bottom:0;
		left:0;
		width:100%;
		opacity: 0;
		transition: opacity 320ms 0ms;
	}
	#left .img.visible {
		opacity: 1;
		transition: opacity 320ms 280ms;
	}
		#left .img img {
			width:100%;
		}

.nav {
	padding-bottom: 10px;
}
.nav:after {
	content: "";
	display: block;
	clear: both;
}
	.menuLink {
		padding: 16px 24px 24px;
		display: block;
		float: left;
		text-decoration:none;
		color:#000;
		text-transform:uppercase;
		font-weight:normal;
		font-size:18px;
		letter-spacing:5px;
		border-bottom: 1px solid #999;
	}

#right {
	float:right;
	height:88%;
	width:70%;
	padding:6% 0;
}

	.contentWrapper {
		width: 100%;
		position: absolute;
		padding-top: 16px;
	}
	.contentWrapper.visible {
		z-index: 10;
	}
		.contentInner {
			margin:0 0 0 40px;
			min-height:500px;
			width:710px;
			opacity:0;
			text-align:justify;
			line-height:22px;
			overflow:hidden;
			opacity: 0;
			transition: opacity 320ms 0ms;
		}
		.visible .contentInner {
			opacity: 1;
		}
			.contentInner p {
				margin: 20px 10px 10px;
			}
			.centerHolder {
				white-space:nowrap;
				margin:0 auto;
				padding:20px 0 0;
				text-align:center;
			}
				.centerHolder .arrow {
					display:inline-block;
					height:240px;
					width:20px;
					cursor:pointer;
				}
				.centerHolder.small .arrow, .centerHolder.small .arrow img {
					height:125px;
					width:20px;
				}
					.centerHolder .arrow:hover {
						opacity:.8;
					}
					.centerHolder .arrow.left {
						margin-left:-30px;
					}
					.centerHolder .arrow.right {
						margin-right:-30px;
					}
			.contentInner .centerContent {
				display:inline-block;
				height:240px;
				width:656px;
				padding:5px 0;
				overflow:hidden;
				vertical-align:top;
				white-space:nowrap;
			}
			.contentInner .centerContent .stack {
				display: none;
			}
			.contentInner .centerHolder.small .centerContent {
				height:135px;
			}
				.contentInner .slider .headshot,
				.contentInner .slider .video {
					margin:0 6px 0 4px;
					display:inline-block;
					max-width:150px;
					vertical-align:middle;
					border-radius:10px;
					box-shadow:2px 2px 8px 1px #444;
				}
				.contentInner .mixed .headshot,
				.contentInner .mixed .video {
					max-height:100px;
				}

.quotes {
  white-space: normal;
  position: relative;
  padding-top: 24px;
}
.attribution {
	margin-top: 10px;
}
.quote {
  opacity: 0;
  position: absolute;
  width: 100%;
  text-align: center;
  font-size: 13px;
  font-style: italic;
  line-height: 1.8;
  transition: opacity 2s;
}
.quote.static {
	position: relative;
	opacity: 1;
}
.quote.visible {
  opacity: 1;
}
.quote:before, .quote:after {
  display: inline;
  font-size: 40px;
  position: relative;
  top: 16px;
  font-weight: bold;
  color: #999;
  line-height: 0;
}
.quote:before {
  content: "“";
  right: 3px;
}
.quote:after {
  content: "”";
  left: 3px;
}

.download-link {
	font-size:18px;
	color:#444;
	font-weight:bold;
	display: block;
	margin-top: 10px;
}

#contactInfo {
	position:fixed;
	bottom:0;
	left:0;
	width:100%;
	padding:8px 0;
	text-align:center;
	font-size:12px;
	color:#6a6a6a;
	background: rgba(255, 255, 255, 0.85);
	z-index: 10;
}
	#contactInfo a {
		text-decoration:none;
	}

/* -- performance page -- */
ul.menu {
	margin: 0 0 18px;
	padding: 0;
	text-align: center;
}
	ul.menu li {
		display:inline;
		padding:0 15px;
	}

.accordionTrigger {
	text-decoration:inherit;
}
.accordionTrigger.active {
  color: #9d1e4b;
}
.accordionHolder {
	position: relative;
}
.accordionHolder:after {
	content: '';
	display: block;
	clear: both;
}
.accordion {
	position: absolute;
	width: 100%;
	opacity: 0;
	transition: opacity 320ms 0ms;
}
.accordion.visible {
	opacity: 1;
	z-index: 1;
}

/* -- teaching page -- */
#teaching .video {
  max-width: 240px;
}


@media screen and (max-width: 1160px) {
	#left {
		display: none;
	}
	#right {
		float: none;
		margin: 0 auto;
		width: 800px;
	}
}
@media screen and (max-width: 800px) {
	html, body {
		overflow: initial;
		height: auto;
	}
	#right {
		width: auto;
		padding-top: 6px;
	}
	.menuLink {
		float: none;
		font-size: 16px;
		padding-bottom: 16px;
	}
	.contentInner {
		width: auto;
		margin: 0 24px 80px;
		min-height: 600px;
	}
	.contentInner p {
		margin-left: 0;
		margin-right: 0;
	}
	.contentInner .centerHolder .arrow {
		display: none;
	}
}
@media screen and (max-width: 360px) {
	ul.menu li {
		display: block;
		padding: 4px 16px;
		text-align: left;
	}
	ul.menu li:nth-child(2n) {
		display: none;
	}
	.contentInner {
		margin-bottom: 70px;
	}
}
